@media only screen and (max-width: 600px) {
    .Title-tag {
        font-family: fantasy;
        color: midnightblue;
        font-size: xxx-large;
        margin: 0%;
    }

    .image {
        width: 48vw;
        height: 48vw;
        margin: 0%;
        border-collapse: collapse;
        border-top: 2px solid black;
    }

    .image:hover {
        width: 52vw;
        height: 52vw;
        margin: 0%;
        border-collapse: collapse;
    }

    .btn {
        width: 30vw;
        height: 7vw;
        font-size: 4vw;
        background-color: midnightblue;
        color: aqua;
    }
    .click-btn {
        width: 30vw;
        height: 7vw;
        font-size: 4vw;
        background-color: midnightblue;
        color: aqua;
        margin: 3vw;
    }

    input {
        width: 30vw;
        height: 7vw;
        font-size: 4vw;
        border-top: none;
        border-right: none;
        border-left: none;
        margin-right: 10px;
        border-radius: 5px;
        background-color: ghostwhite;
    }

}

@media only screen and (min-width: 600px) {
    .Title-tag {
        font-family: fantasy;
        color: midnightblue;
        font-size: xxx-large;
        margin: 0%;
    }

    .image {
        width: 30vw;
        height: 30vw;
        margin: 0%;
        border-collapse: collapse;
        border-top: 2px solid black;
    }

    .image:hover {
        width: 32vw;
        height: 32vw;
        margin: 0%;
        border-collapse: collapse;
    }

    .btn {
        width: 10vw;
        height: 3vw;
        font-size: 2vw;
        background-color: midnightblue;
        color: aqua;
    }
    .click-btn {
        width: 10vw;
        height: 3vw;
        font-size: 2vw;
        background-color: midnightblue;
        color: aqua;
        margin: 3vw;
    }

    input {
        width: 30vw;
        height: 3vw;
        font-size: 2vw;
        border-top: none;
        border-right: none;
        border-left: none;
        margin-right: 10px;
        border-radius: 5px;
        background-color: ghostwhite;
    }

}